body{
    margin: auto;
    text-align: $centrado;
}

.imagenmod{
    width: $imgmod-width;
}
img{
    width: $img-width;
}
footer{
    ul{
        li{
            display: $disp-foo;
            text-align: $centrado;
            width: $fo-width;
            a{
                text-decoration: $deco-foot;
                color: black;
            }
        }
    }
}
.articulo2{
    font-size: large;
    display: $disp-art;
    grid-template-columns: $gtc-art;
}