// colores
//  $bg-principal: rgb(31, 105, 161);
//  $bg-white: white;
//  $bg-body: #313d52;
//  $txt-color: white;
//  $fo-color: black;

// detalles
$sd-ref: none;
$deco-foot: none;

// tamaños y posicion
$imgmod-width: 50%;
$img-width: 80%;
$fo-width: 100%;
$disp-foo: inline-block;
$centrado: center;
$font-art: large;
$disp-art: grid;
$gtc-art: auto auto;

